#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 500px
}

li {
text-align: left;
}

.vote {
    margin-bottom: 20px;
}

.filterBar {
    margin-bottom: 20px;
}